html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.71'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hidden {
    display: none;
}

.matrix {
    background-image: url("./morf.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    color: aliceblue;
}

.start-container {
    margin-top: 30%;
    margin-left: 38%;
}


.btncont {
    position: relative;
    margin-top: 2%;
    margin-left: 38%;
    margin-bottom: 40px;
}

.question {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.question-container {
    margin-top: 80px;
}

.label {

    word-wrap: break-word;
}

#my-result {
    padding: 20px;
    background: white;
}

#result {
    margin-top: 30vh;
}

.chartcontainer {
    /* width: 70%; */
    background-color: white;
}

.matrix2 {
    background-image: url("./numbers.jpg");
    background-repeat: no-repeat;
    color: aliceblue;
}

.login {
    /* background-color: white;
    opacity: 0.8; */
    height: 200px;
    width: 400px;
    margin-top: 30vh;
    margin-left: 75vh;
    padding: 20px;
    border: 2px solid white; 
    border-radius: 10px;
}

.btn-login, .btn-register {
    float: right;
}